<div id="banner" class="search_banner">
  <h1>Find episodes</h1>
</div>
<div class="wrapper_skinny">
  <%= render 'search' %>
</div>
<div id="podcast_show">
  <%= render'episodes_highlight' %>
</div>

