@charset "UTF-8";
/* line 7, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
* {
  box-sizing: border-box;
}

/* line 11, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
body {
  font-family: ‘Lato’, sans-serif;
  background: #FFFFFF;
  position: relative;
}

/******************************* layouts */
/* line 20, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

/* line 25, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 30, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

/* line 35, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.responsive_break {
  white-space: nowrap;
}

/* line 39, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.pull-right {
  float: right;
}

/* line 42, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.center {
  text-align: center;
}

/* line 45, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 51, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.cf:after {
  clear: both;
}

/******************************* components */
/****************** sub-title */
/* line 59, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.sub_title {
  color: #9ba4ac;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}

/****************** alert */
/* line 67, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#alert_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(238, 121, 100, 0.7);
  z-index: 1000;
}
/* line 72, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#alert_wrapper p {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1.25rem;
}

/****************** splash loader */
/* line 82, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.loader_container {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  text-align: center;
  z-index: 999;
  display: none;
}
/* line 91, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.loader_container i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 2;
}

/****************** buttons */
/* line 102, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 12rem;
}

/* line 114, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button_block {
  display: block;
  margin: 0 auto;
}

/* line 119, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button_highlight {
  background: #EE7964;
  transition: background .4s ease-in-out;
}
/* line 122, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button_highlight:hover {
  background: #ea5b42;
}

/* line 127, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button_white {
  background: #FFFFFF;
  color: #2C3135;
  transition: background .4s ease-in-out;
}
/* line 131, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.button_white:hover {
  background: #ececec;
}

/****************** button file upload */
/* line 137, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.input-btn-wrapper {
  position: relative;
  text-align: center;
  width: 12rem;
  border-radius: .35rem;
  padding: .5rem 1rem;
  background: #EDEFF5;
  border: 1px solid #dde0ec;
  margin-top: .5rem;
}
/* line 147, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.input-btn-wrapper span {
  font-size: .6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
/* line 153, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.input-btn-wrapper:hover {
  background: #b4b9c7;
  cursor: pointer;
}
/* line 158, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.input-btn-wrapper input[type=file] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/****************** links */
/* line 169, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.links {
  font-weight: 700;
  font-size: .8rem;
  color: #EE7964;
}
/* line 173, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.links a {
  margin-right: 1rem;
  color: inherit;
  text-decoration: none;
}
/* line 178, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.links h5 {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 0.6rem;
  font-size: inherit;
  color: #2C3135;
}

/****************** forms */
/* line 188, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#form {
  padding: 3rem 3.5%;
  background: #FFFFFF;
  border-radius: .35rem;
}
/* line 192, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#form .title {
  color: #2C3135;
  text-align: center;
}

/* line 198, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.field {
  margin: .5rem 0 1.5rem 0;
}

/* line 202, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .5rem 1rem;
  background: #EDEFF5;
  border: 1px solid #dde0ec;
  border-radius: .35rem;
  margin-top: .5rem;
}

/* line 212, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
input[type=”file”] {
  margin-top: .5rem;
}

/* line 216, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
textarea {
  height: 8rem;
}

/****************** thumbnail */
/* line 221, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.thumbnail {
  width: 20rem;
  border-radius: .35rem;
  display: block;
  text-align: center;
  margin: auto;
}

/******************************* search form */
/* line 230, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.seach-form {
  margin-bottom: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
/* line 235, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.seach-form #search {
  width: 60%;
  height: 100%;
}
/* line 239, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.seach-form input[type="submit"] {
  width: 15%;
  height: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  padding: .5rem 1rem;
  background: #EDEFF5;
  transition: background .4s ease-in-out;
  border: 1px solid #dde0ec;
  border-radius: .35rem;
  margin-top: .5rem;
}
/* line 252, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.seach-form input[type="submit"]:hover {
  background: #9ba4ac;
}

/******************************* header */
/* line 259, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header {
  color: #2C3135;
  background: #FFFFFF;
  padding: 2.5rem 0;
}
/* line 263, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header #logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #2C3135;
  text-decoration: none;
}
/* line 270, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header nav {
  float: right;
}
/* line 272, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header nav ul {
  list-style: none;
  margin: 0;
}
/* line 275, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header nav ul li {
  display: inline;
  margin-left: 2rem;
  position: relative;
}
/* line 279, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header nav ul li a {
  color: #2C3135;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
}
/* line 284, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#primary_header nav ul li a:hover {
  color: #EE7964;
}

/******************************* pages banners */
/* line 295, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* line 299, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
#banner h1 {
  text-align: center;
  padding: 8.5rem 0;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* line 310, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.podcasts_banner {
  background-image: url(/assets/podcasts_banner-c519c5b630de481117831386b19f31a3b13bb0c41e7febe6c4445c3470f3a30a.jpg);
  margin-bottom: 4rem;
}

/* line 315, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.sign_up_banner {
  background-image: url(/assets/sign_up_banner-f3c76759bddaf7ac1407577591a8aa251a5b40bbf05ab7cf4ac6ff5ac4b4ed11.jpg);
}

/* line 319, /home/alina/projects/podcast_app/app/assets/stylesheets/application.scss */
.sign_in_banner {
  background-image: url(/assets/sign_in_banner-6d0366b54836830b37206b9e5ef05a9bd33ad9aa0f98371076199f9c83e450d2.jpg);
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
h1 {
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
sup {
  top: -0.5em;
}

/* line 173, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /home/alina/projects/podcast_app/app/assets/stylesheets/normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background {
  background-image: url(/assets/welcome_background-68f634903f09455ea1ae57b8302c82ee14bfe739fe861c97f73d5ac52fab7df2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* line 7, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header {
  padding: 3rem 0;
}
/* line 9, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header #logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
/* line 16, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header nav {
  float: right;
}
/* line 18, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header nav ul {
  list-style: none;
  margin: 0;
}
/* line 21, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header nav ul li {
  display: inline;
  margin-left: 2.5rem;
}
/* line 24, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 32, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background h1 {
  color: #FFFFFF;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 7rem 0 2rem 0;
}
/* line 39, /home/alina/projects/podcast_app/app/assets/stylesheets/welcome.scss */
#background .button {
  margin: 1.5rem 2.5% 0 2.5%;
}

/* line 1, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts {
  padding-bottom: 3rem;
}
/* line 3, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 7, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li {
  width: 23%;
  min-height: 28rem;
  float: left;
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: .35rem;
}
/* line 15, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li img {
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
}
/* line 20, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li .podcast_overview {
  padding: 1rem 7.5%;
}
/* line 22, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li .podcast_overview h2 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: #2C3135;
}
/* line 28, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li .podcast_overview .episode_count {
  color: #a9b1b7;
  font-size: .9rem;
  margin: .5rem 0 .25rem 0;
}
/* line 35, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li:hover img {
  opacity: .8;
}
/* line 39, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcasts ul li:hover .podcast_overview h2 {
  color: #EE7964;
}

/* line 49, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #podcast_banner {
  background: #2C3135;
  text-align: center;
  padding: 5rem 0;
}
/* line 53, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #podcast_banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0 0 .5rem 0;
}
/* line 59, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #podcast_banner .description {
  width: 85%;
  line-height: 1.75;
  margin: 0 auto 2rem auto;
  color: #5a656d;
}
/* line 65, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #podcast_banner .subscribe_link {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  display: inline;
  background: #EE7964;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  text-decoration: none;
}
/* line 77, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #podcast_banner .subscribe_link:hover {
  background: #e95136;
}
/* line 83, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #breadcrumb {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #eef0f1;
  font-weight: 700;
  font-size: .7rem;
  margin-bottom: 1rem;
}
/* line 90, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #breadcrumb a {
  color: #9ba4ac;
  text-decoration: none;
}
/* line 94, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #breadcrumb span {
  margin: 0 .5rem;
}
/* line 98, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes {
  padding: 1.5rem 0;
}
/* line 100, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul {
  list-style: none;
  padding-left: 0;
}
/* line 103, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #eef0f1;
  margin-bottom: 2rem;
}
/* line 107, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li:last-child {
  border-bottom: none;
}
/* line 110, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_thumbnail {
  width: 22%;
  float: left;
}
/* line 113, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_thumbnail img {
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 119, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_overview {
  width: 76.5%;
  float: left;
  margin-left: 1.5%;
}
/* line 124, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_overview h2 a {
  color: #2C3135;
  text-decoration: none;
}
/* line 129, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_overview .description {
  color: #66717b;
}
/* line 132, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_overview .authorized_links {
  font-weight: 700;
  font-size: .8rem;
}
/* line 135, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episodes ul li .episode_overview .authorized_links a {
  color: #EE7964;
  margin-right: 1rem;
}
/* line 144, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content {
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eef0f1;
}
/* line 148, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .current_episode_thumbnail {
  display: block;
  margin: 0 auto 2rem auto;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 154, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content h2 {
  font-size: 1.5rem;
  text-align: center;
}
/* line 158, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .description {
  text-align: center;
  font-size: .9rem;
  line-height: 1.7;
  color: #66717b;
}
/* line 164, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content a {
  text-decoration: none;
}
/* line 167, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-jplayer, #podcast_show #episode_content .jp-audio {
  width: 70%;
  margin: 3rem auto .5rem auto;
}
/* line 171, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-title {
  font-size: 12px;
  text-align: center;
  color: #999;
}
/* line 176, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 181, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-gui {
  position: relative;
  background: #EE7964;
  transition: background .4s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}
/* line 189, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}
/* line 196, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-controls li {
  display: inline;
}
/* line 200, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-controls a {
  color: #fff;
}
/* line 203, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-play, #podcast_show #episode_content .jp-pause {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid #f3a192;
}
/* line 212, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-controls .jp-play:hover, #podcast_show #episode_content .jp-controls .jp-pause:hover {
  background-color: #e95136;
}
/* line 216, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-mute, #podcast_show #episode_content .jp-unmute {
  position: absolute;
  right: 59px;
  top: -3px;
  width: 20px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
}
/* line 226, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-mute {
  text-align: left;
}
/* line 229, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-time-holder {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 90px;
  top: 14px;
}
/* line 237, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-progress {
  background-color: #be2f15;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: absolute;
  right: 22%;
  top: 15px;
  width: 65%;
}
/* line 247, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-play-bar {
  height: 12px;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}
/* line 253, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-volume-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 45px;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: #be2f15;
  overflow: hidden;
}
/* line 264, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #episode_content .jp-volume-bar-value {
  background-color: #fff;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
}
/* line 270, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links {
  padding: 2rem 0;
}
/* line 272, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links ul {
  list-style: none;
  padding-left: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eef0f1;
}
/* line 278, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links ul li {
  display: inline;
  margin-right: 1rem;
  font-weight: 700;
}
/* line 282, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links ul li a {
  color: #2C3135;
  text-decoration: none;
}
/* line 285, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links ul li a:hover {
  color: #EE7964;
}
/* line 290, /home/alina/projects/podcast_app/app/assets/stylesheets/podcasts.scss */
#podcast_show #links ul .active {
  color: #EE7964;
}

/* pagination style */
/* line 3, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

/* line 9, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination:after {
  clear: both;
}

/* line 13, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination {
  text-align: center;
  margin: 2rem 0;
}
/* line 16, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: 0.75rem 1rem;
  margin: 0 .25rem;
  border-radius: .15rem;
  line-height: 20px;
  text-decoration: none;
  background-color: #EDEFF5;
  font-weight: 700;
  font-size: .7rem;
  font-style: normal;
  color: #2C3135;
}
/* line 27, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
  background: #EE7964;
  color: #FFFFFF;
}
/* line 32, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination .disabled {
  color: #C0C0C0;
}
/* line 34, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination .disabled:hover {
  color: #C0C0C0;
}
/* line 38, /home/alina/projects/podcast_app/app/assets/stylesheets/pagination.scss */
.pagination .current {
  background: #EE7964;
  color: #FFFFFF;
}
