<div class="wrapper">
  <section class="seach-form">
    <%= form_tag episodes_search_path, method: 'get' , remote: true do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </section>
</div>
<div id="podcast_show">
  <%= render'episodes_highlight' %>
</div>
