<div id="podcast_show">
  <%= render 'podcasts/podcast_banner',  podcast: @podcast %>
  <%= render 'shared/bread_crumbs' %>

  <div id="form">
    <div class="wrapper_skinny">
      <%= render 'form' %>
    </div>
  </div>
</div>