<div id="background">
  <%= render 'shared/simple_header' %>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite<br>podcasts, or create your own</h1>
    <%= link_to "Create a podcast", new_podcast_registration_path,class: "button button_highlight" %>
    <%= link_to "Explore", podcasts_path,class: "button button_white" %>
  </div>
</div>