$white: #FFFFFF;
$highlight: #EE7964;
$dark: #2C3135;
$light: #EDEFF5;
$normal: #9ba4ac;

* {
  box-sizing: border-box;
}

body {
  font-family: ‘Lato’, sans-serif;
  background: $white;
  position: relative;
}


/******************************* layouts */

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

.responsive_break {
  white-space: nowrap;
}

.pull-right {
  float: right;
}
.center {
  text-align: center;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


/******************************* components */

/****************** sub-title */
.sub_title {
  color: $normal;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}

/****************** alert */
#alert_wrapper {
  width: 100%;
  position: absolute;
  background: rgba($highlight, 0.7);
  z-index: 1000;
  p {
    color: $white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.25rem;
  }
}

/****************** splash loader */
.loader_container{
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  text-align: center;
  z-index: 999;
  display: none;
  i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 2;
  }
}


/****************** buttons */
.button {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 12rem;
}

.button_block {
  display: block;
  margin: 0 auto;
}

.button_highlight {
  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($highlight, 7.5%);
  }
}

.button_white {
  background: $white;
  color: $dark;
  transition: background .4s ease-in-out;
  &:hover {
    background: darken($white, 7.5%);
  }
}

/****************** button file upload */
.input-btn-wrapper {
  position: relative;
  text-align: center;
  width: 12rem;
  border-radius: .35rem;
  padding: .5rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  margin-top: .5rem;

  span {
    font-size: .6rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
  }
  &:hover {
    background: #b4b9c7;
    cursor: pointer;
  }

  input[type=file] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

/****************** links */
.links {
  font-weight: 700;
  font-size: .8rem;
  color: $highlight;
  a {
    margin-right: 1rem;
    color: inherit;
    text-decoration: none;
  }
  h5 {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 0.6rem;
    font-size:  inherit;
    color: $dark;
  }
}
/****************** forms */
#form {
  padding: 3rem 3.5%;
  background: $white;
  border-radius: .35rem;
  .title {
    color: $dark;
    text-align: center;
  }
}

.field {
  margin: .5rem 0 1.5rem 0;
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .5rem 1rem;
  background: $light;
  border: 1px solid darken($light, 5%);
  border-radius: .35rem;
  margin-top: .5rem;
}

input[type=”file”] {
  margin-top: .5rem;
}

textarea {
  height: 8rem;
}

/****************** thumbnail */
.thumbnail {
  width: 20rem;
  border-radius: .35rem;
  display: block;
  text-align: center;
  margin: auto;
}


/******************************* header */
#primary_header {
  color: $dark;
  background: $white;
  padding: 2.5rem 0;
  #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    color: $dark;
    text-decoration: none;
  }
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline;
        margin-left: 2rem;
        position: relative;
        a {
          color: $dark;
          text-decoration: none;
          font-weight: 700;
          font-size: 0.9rem;
          &:hover {
            color: $highlight;
          }
        }
      }
    }
  }
}


/******************************* pages banners */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  h1 {
    text-align: center;
    padding: 8.5rem 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: $white;
  }
}

.podcasts_banner {
  background-image: image_url("podcasts_banner.jpg");
  margin-bottom: 4rem;
}

.sign_up_banner {
  background-image: image_url("sign_up_banner.jpg");
}

.sign_in_banner {
  background-image: image_url("sign_in_banner.jpg");
}


@import 'normalize';
@import 'welcome';
@import 'podcasts';
@import "pagination";