<%= render 'shared/primary_header' %>
<div id="podcast_show">
  <%= render 'podcasts/podcast_banner',  podcast: @podcast %>
  <%= render 'shared/bread_crumbs' %>
  <%= render 'episodes/episodes' %>
</div>