<%= render 'shared/primary_header' %>
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1><%= @podcast.title %></h1>
    </div>
  </div>
  <%= render 'shared/bread_crumbs' %>
  <%= render 'episodes/episodes' %>
</div>