<div id="banner" class="podcasts_banner">
  <h1>Discover new favorite podcast</h1>
</div>
<div id="podcasts" class="cf">
  <div class="wrapper">
    <%= render 'shared/tags_linked_list', tags: @tags, tag: params[:tag] %>
    <%= render 'search' %>
    <%= render 'podcasts' %>
  </div>
</div>
